{
  "printWidth": 100,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@?[a-zA-Z]+.+",
    "^@/(?!.*\\.(jpg|jpeg|png|gif|svg|ttf|html)$)",
    "^\\.\\.?/(?!.*.(jpg|jpeg|png|gif|svg|ttf|html)$)",
    "^.(?!(jpg|jpeg|png|gif|svg|ttf|html)$)[^.]*$",
    "(.css|.scss|.less)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": false,
  "importOrderGroupNamespaceSpecifiers": false,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
